{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Base</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="ccpa_project/templates/base.css"> -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static 'registration_app/reg_base.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>
<body>
	<div style="background-color: #eaf2ff">
	<div class='container-fullwidth'>
	<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #ffffff;border-radius: 0px">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a id="brand" class="navbar-brand mb-0 h1" style="color:#396598;" href="{% url 'index' %}"> <img src="{% static 'registration_app/internet.svg' %}" width="40" height="40" alt=""></a>
	    </div>
	    <ul class="nav navbar-nav">
	      <!-- <li class="nav-item r-2"><a href=""><span style="color:#333333">Home</span></a></li> -->
	      <li class="nav-item r-2" style="font-size: .9em"><a href="{% url 'info_app:what' %}"><span style="color:#007dc1"><b>What it is</b></span></a></li>
	      <li class="nav-item r-2" style="font-size: .9em"><a href="{% url 'info_app:how' %}"><span style="color:#007dc1"><b>How it works</b></span></a></li>
	      <li class="nav-item r-2" style="font-size: .9em"><a href="{% url 'products_app:packages' %}"><span style="color:#007dc1"><b>Products</b></span></a></li>
	      <li class="nav-item r-2" style="font-size: .9em"><a href="{% url 'contact_app:contactus' %}"><span style="color:#007dc1"><b>Contact us</b></span></a></li>
	      <li class="nav-item r-2" style="margin-top:2px;"> 
	      		<button class="btn btn-outline-info my-sm-0" type="button" style="font-size:.85em;width: 100px;"><b>Sign In</b>
	      		</button>
	      </li> 
	    </ul>
	  </div>
	</nav>
	</div>
	<div class="container">
	{% block body_block %}

	{% endblock %}
	</div>
	</div>
	<div class="navbar-fixed-bottom" style="background-color: #1E346E;height: 20px">
		
	</div>
</body>
</html>